/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/*Typography
--------------------------------------------------------------*/

.head__blueStrip {
	background-color: #8EBECB;
	height: 60px;
}

body {
	background-color: #cbe3e9;
	margin: 0px;
}

button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}

main {
	margin: 20px;
}

/* Heading styles */

.container__dailyJournal {
	color: #404040;
	font-family: 'Lora', serif;
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}

/* Text styles */
h2 {
	color: #404040;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: .5px;
	text-transform: uppercase;
}

#container {
}

/* Form */
.form{
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.form__journalDate{
	background-color: #E3E7EB;
	border-style: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.form__conceptsCovered{
	background-color: #E3E7EB;
	border-style: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.form__journalEntry {
	background-color: #E3E7EB;
	border-style: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.form__mood {
	background-color: #E3E7EB;
	border-style: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
/* Journal */

.journalEntry {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #E3E7EB;
	font-family: 'Montserrat', sans-serif;
}

.journalEntry__journalHeading{ 
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-left: 20px;
}

.entry__buttonDiv {
	margin-top: 20px;
}
.entry__editButton { 
	background-color: #8EBECB;
	border-style: none;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}

.entry__editButton:hover  {
	background-color: #EE8C68;
}

.entry__deleteButton:hover  {
	background-color: #EE8C68;
}


.entry__deleteButton {
	background-color: #8EBECB;
	border-style: none;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}
.entry__journalDate {
	font-weight: 600;
	letter-spacing: 1px;
}

.entry__journalConcept {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1487a4;
}

.entry__journalMood {
	color: #EE8C68;
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 10px;
}


/* Form button */
button#journalEntryRecordBtn  {
	background-color: #8EBECB;
	border-style: none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 20px;
}

button#journalEntryRecordBtn:hover {
	color: white;
	background-color: #EE8C68;
	border-style: none;
}


/* Footer */
footer {
	background-color: #8EBECB;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 10px;
}

.footer__name {
	padding-left: 20px;
}

a {
	color: #30302C;
	text-decoration: none;
}

a:hover {
	color: white;
}